@keyframes myAnimationLeft {
  0% {
    opacity: 0;
    transform: translateX(0);
  }
  30% {
    transform: translateX(-10rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes myAnimationRight {
  0% {
    opacity: 0;
    transform: translateX(0);
  }
  30% {
    transform: translateX(10rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes myAnimationScale {
  0% {
    opacity: 0;
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
  }
}
@keyframes myAnimationBottom {
  0% {
    opacity: 0;
    transform: translatey(-10rem);
  }
  70% {
    transform: translatey(5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  /*with this 1rem=10px instead of 16px */
}

body {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
}

.header-title {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  backface-visibility: hidden;
}
.header-title--span-1, .header-title--span-2 {
  font-family: "Dancing Script", "cursive";
  font-weight: 700;
  font-size: 14rem;
  text-transform: capitalize;
  letter-spacing: 2rem;
  display: inline-block;
}
.header-title--escapade {
  display: block;
  font-size: 3rem;
  letter-spacing: 0.4rem;
  animation-name: myAnimationScale;
  animation-duration: 0.3s;
  animation-delay: 0.5s;
}
.header-title--span-1 {
  animation-name: myAnimationLeft;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
}
.header-title--span-2 {
  animation-name: myAnimationRight;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
}

.heading-secondary {
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: bolder;
  background-image: linear-gradient(to right, #0077b6, #020342);
  text-align: center;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  text-shadow: #020342;
  transition: all ease-in 0.2s;
}
.heading-secondary:hover {
  transform: scale(1.1) rotateX(15deg);
  text-shadow: 0.5rem 0.5rem 3rem #777;
}

.heading-tertiary {
  text-transform: uppercase;
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  font-weight: 700;
  text-align: center;
}

.paragraph {
  font-size: 1.8rem;
}
.paragraph:not(:last-child) {
  margin-bottom: 2.5rem;
}

.far,
.fas {
  color: #0077b6;
  font-size: 10rem;
  margin-bottom: 1rem;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
}

.u-margin-bottom-medium {
  margin-bottom: 5rem;
}

.u-margin-bottom-small {
  margin-bottom: 2rem;
}

.u-margin-top-big {
  margin-top: 8rem;
}

.u-margin-top-medium {
  margin-top: 5rem;
}

.u-margin-top-small {
  margin-top: 2rem;
}

.u-margin-side-default {
  width: 80%;
  margin: 0 auto;
}

.u-text-uppercase {
  text-transform: uppercase;
}

.u-text-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-container {
  position: absolute;
  bottom: 10%;
  right: 5%;
}
.btn:link, .btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.5rem 2rem;
  border-radius: 5rem;
  display: inline-block;
  transition: 0.5s ease-out;
  position: relative;
}
.btn:hover {
  transform: translateY(-4px);
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.8);
}
.btn:hover::after {
  transform: scaley(1.2) scalex(1.1);
  opacity: 0;
}
.btn:active {
  transform: translateY(2px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
}
.btn--white {
  background-color: #fff;
  color: #777;
  font-size: 1.5rem;
  font-weight: bold;
}
.btn--white::after {
  background-color: #fff;
}
.btn::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.8s ease-out;
}
.btn--header {
  animation: myAnimationBottom 0.5s ease-out 0.8s;
  animation-fill-mode: backwards;
}

.btn-text:link, .btn-text:visited {
  text-decoration: none;
  margin-top: 2rem;
  border-bottom: 2px solid #0077b6;
  letter-spacing: 0.2rem;
  display: inline-block;
  color: #020342;
  padding-bottom: 0.5rem;
  font-size: 1.8rem;
}
.btn-text:hover {
  color: #fff;
  background-color: #023e8a;
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.7);
  transform: translateY(-0.5rem);
  transition: all ease 0.5s;
}
.btn-text:active {
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.7);
  transform: translateY(0.5rem);
  transition: all ease 0.5s;
}

.btn-blue:link, .btn-blue:visited {
  text-decoration: none;
  border: 2px solid #0077b6;
  letter-spacing: 0.3rem;
  display: block;
  padding: 1rem 1rem;
  color: #0077b6;
  font-size: 1.8rem;
  font-weight: bold;
}
.btn-blue:hover {
  color: #fff;
  background-color: #023e8a;
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.7);
  transform: translateY(-0.5rem);
  transition: all ease 0.5s;
}
.btn-blue:active {
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.7);
  transform: translateY(0.5rem);
  transition: all ease 0.5s;
}
.btn-blue__secondary:link, .btn-blue__secondary:visited, .btn-blue__secondary:active {
  background-color: #0077b6;
  color: #fff;
}

.cards__card {
  padding: 4rem 2rem;
  background-color: #f7f7f7;
  width: 21%;
  text-align: center;
}
.cards__card:hover {
  transform: scale(1.05) translatex(2rem);
}

.form-group {
  flex-direction: row;
}
.form-group h2 {
  font-weight: bold;
  margin: 0;
  font-size: 3rem;
  margin: 2rem;
}
.form-group p {
  font-size: 1.5rem;
  font-weight: 100;
  line-height: 2rem;
  letter-spacing: 1px;
  margin: 2rem 0 3rem;
}
.form-group span {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
.form-group a {
  color: #0077b6;
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: none;
  margin: 1.5rem 0;
}
.form-group form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 5rem;
  height: 100%;
  text-align: center;
}
.form-group input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}
.form-group__container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  overflow: hidden;
  max-width: 100%;
}

.social-container a {
  border: 1px solid #dddddd;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
  height: 4rem;
  width: 4rem;
  background-color: #0077b6;
  color: #fff;
}

.first {
  background-color: #0077b6;
  color: #fff;
}
.first .social-container a {
  background-color: #fff;
  color: #0077b6;
}

input[type=submit] {
  border-radius: 5rem;
  background-color: #fff;
  color: #0077b6;
  padding: 1.5rem 2rem;
  font-size: 2rem;
  font-weight: 300;
  width: auto;
}

.group__photo {
  width: 100%;
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.7);
  border-radius: 2rem;
  margin-bottom: 2rem;
}
.group__photo:hover {
  transform: scale(1.2);
  border-radius: 0;
}
.group__photo:nth-of-type(2n + 1) {
  margin-right: 1rem;
}

.packages {
  display: flex;
  justify-content: space-between;
}
.packages__package {
  width: 31%;
  border-radius: 2rem 2rem 0 0;
  height: 70rem;
  perspective: 150rem;
  position: relative;
}
.packages__package--div {
  background-color: rgba(0, 119, 182, 0.15);
  border-radius: 2rem 2rem 0 0;
  margin: 3rem 0;
}
.packages__package--div .paragraph {
  text-align: center;
  font-weight: bold;
  padding: 2rem;
  font-size: 2rem;
  color: #020342;
}
.packages__package--figure img {
  width: 100%;
  background-size: cover;
  border-radius: 2rem 2rem 0 0;
}
.packages__package--figure {
  position: relative;
}
.packages__package--figure figcaption {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  font-size: 3.5rem;
  background-color: #fff;
  opacity: 0.85;
  padding: 0.5rem;
  color: #020342;
}
.packages__package-front {
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 2rem 2rem 0 0;
  transform: rotateY(0);
  transition: all ease-out 1s;
  backface-visibility: hidden;
}
.packages__package-back {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 2rem 2rem 0 0;
  transform: rotateY(180deg);
  transition: all ease-out 1s;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.packages__package-back--price {
  font-size: 10rem;
  font-weight: 200;
  color: #020342;
  margin: 10rem 0;
}
.packages__package-back--only {
  font-size: 2rem;
  color: #777;
}
.packages__package-back--first {
  background-color: rgba(200, 248, 200, 0.4);
}
.packages__package-back--second {
  background-color: rgba(119, 134, 201, 0.4);
}
.packages__package-back--third {
  background-color: rgba(248, 221, 204, 0.4);
}
.packages__package:hover .packages__package-front {
  transform: rotateY(-180deg);
  transition: all ease-out 1s;
}
.packages__package:hover .packages__package-back {
  transform: rotateY(0);
  transition: all ease-out 1s;
}

.review {
  width: 48%;
  clip-path: polygon(5% 0, 100% 0%, 95% 100%, 0% 100%);
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.7);
  padding: 2rem;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
.review figure {
  width: 50%;
}
.review figure img {
  width: 50%;
  border-radius: 2rem;
  margin-left: 2rem;
}
.review__text {
  margin-left: -10rem;
  margin-right: 2rem;
  width: 100%;
  text-align: justify;
}

video {
  width: 100%;
  background-size: cover;
}

.header {
  height: 95vh;
  background-image: linear-gradient(110deg, rgba(0, 119, 182, 0.92) 35%, rgba(2, 3, 66, 0.8) 60%), url("../img/louvre-big.jpg");
  background-size: cover;
  background-position: top;
  position: relative;
}
.header__logo-container {
  position: absolute;
  top: 4rem;
  left: 4rem;
}
.header__logo {
  width: 7rem;
  border-radius: 2rem;
}
.header__text-container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.inspiration__container {
  display: flex;
  justify-content: space-between;
}
.inspiration__container--photo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-basis: 48%;
}
.inspiration__container--photo div {
  flex-basis: 48%;
}
.inspiration__container--text {
  display: flex;
  flex-direction: column;
  flex-basis: 48%;
  text-align: justify;
}

.benefits {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards {
  display: flex;
  justify-content: space-between;
}

.reviews {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: space-evenly;
}

.form-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inspiration {
  background-color: #f7f7f7;
  padding-top: 5rem;
  padding-bottom: 20rem;
}

.benefits {
  height: 95vh;
  background: url("../../img/bucarest.jpg");
  background-size: cover;
  background-position: bottom;
  max-width: 100%;
  clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
  margin-top: -10vh;
}

.section-packages {
  background-color: #f7f7f7;
  margin-top: -10vh;
  padding-top: 10rem;
  padding-bottom: 10rem;
  padding-bottom: 10rem;
}

.section-reviews {
  position: relative;
}

.overlap {
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8) 55%, rgba(2, 167, 255, 0.5) 65%);
}
.overlap h2 {
  padding: 5rem 0;
}

.section-booking {
  background-color: #f7f7f7;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

/*# sourceMappingURL=main.css.map */
