$color-primary: #023e8a;
$color-primary-light: #0077b6;
$color-primary-dark: #020342;
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;
$color-grey-light-first: #f7f7f7;
$font-size-default: 2rem;
