$color-primary: #023e8a;
$color-primary-light: #0077b6;
$color-primary-lighter: #02a7ff;
$color-primary-dark: #020342;
$color-secondary: #c8f8c8;
$color-tertiary: #7786c9;
$color-quarternary: #f8ddcc;
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;
$color-grey-light-first: #f7f7f7;
$font-size-default: 1.8rem;
