@use "../abstracts/variables" as v;
.inspiration__container {
	display: flex;
	justify-content: space-between;

	&--photo {
		flex-basis: 50%;
		text-align: end;
	}
	&--text {
		flex-basis: 48%;
		margin-right: 4rem;
		text-align: justify;
	}
}
.benefits {
	display: flex;
	align-items: center;
	justify-content: center;
}

.cards {
	display: flex;
	justify-content: space-between;
}
