@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.inspiration__container {
	max-width: 100%;

	@media screen and (min-width: 1200px) {
		display: flex;
		justify-content: space-between;
	}

	&--photo {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		& div {
			flex-basis: 40%;
			@media screen and (max-width: 600px) {
				flex-basis: 60%;
			}
		}

		@media screen and (min-width: 1200px) {
			justify-content: space-between;
			flex-basis: 58%;
			& div {
				flex-basis: 48%;
			}
		}
	}

	&--text {
		display: flex;
		flex-direction: column;
		flex-basis: 40%;
		text-align: justify;
		margin-bottom: 4rem;
	}
}
.benefits {
	@include m.flex-center;
}

.cards {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.reviews {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.form-group {
	@include m.flex-center;
}
