@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.header {
	min-height: 70vh;
	background-image: linear-gradient(
			110deg,
			rgba(v.$color-primary-light, 0.92) 35%,
			rgba(v.$color-primary-dark, 0.8) 60%
		),
		url("../img/louvre-big.jpg");
	background-size: cover;
	background-position: top;
	position: relative;
	&__logo-container {
		position: absolute;
		top: 4rem;
		left: 4rem;
		width: 10rem;
	}
	&__logo {
		max-width: 75%;
		@include m.logo;
	}
	&__text-container {
		position: absolute;
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
	}
}
