@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.inspiration {
	background-color: v.$color-grey-light-first;
	padding-top: 5rem;
	padding-bottom: 20rem;
}
.benefits {
	height: 95vh;
	background: url("../../img/bucarest.jpg");
	background-size: cover;
	background-position: bottom;
	max-width: 100%;
	clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
	margin-top: -10vh;
	@media screen and(max-width:1200px) {
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	}
}
.section-packages {
	background-color: v.$color-grey-light-first;
	margin-top: -10vh;
	@include m.padding-vertical;
	padding-bottom: 10rem;
}
.section-reviews {
	position: relative;
}
.overlap {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	bottom: 0;
	background: linear-gradient(
		to bottom,
		rgba(v.$color-white, 0.8) 55%,
		rgba(v.$color-grey-light-first, 0.85) 65%
	);
	& h2 {
		padding: 5rem 0;
	}
}
.section-booking {
	background: v.$color-primary-light;
	background: linear-gradient(5deg, v.$color-primary-light 3%, v.$color-grey-light-first 24%);
	@include m.padding-vertical;
}
