@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.btn {
	&-container {
		position: absolute;
		bottom: 10%;
		right: 5%;
	}

	&:link,
	&:visited {
		text-decoration: none;
		text-transform: uppercase;
		padding: 1.5rem 2rem;
		border-radius: 5rem;
		display: inline-block;
		transition: 0.5s ease-out;
		position: relative;
	}
	&:hover {
		transform: translateY(-4px);
		box-shadow: 0px 20px 30px rgba(v.$color-black, 0.8);
		&::after {
			transform: scaley(1.2) scalex(1.1);
			opacity: 0;
		}
	}
	&:active {
		transform: translateY(2px);
		box-shadow: 0 10px 20px rgba(v.$color-black, 0.8);
	}
	&--white {
		background-color: v.$color-white;
		color: v.$color-grey-dark;
		font-size: 1.5rem;
		font-weight: bold;
		text-align: center;
		&::after {
			background-color: v.$color-white;
		}
	}
	&::after {
		content: "";
		display: inline-block;
		width: 100%;
		height: 100%;
		border-radius: 5rem;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		transition: 0.8s ease-out;
	}

	&--header {
		animation: myAnimationBottom 0.5s ease-out 0.8s;
		animation-fill-mode: backwards;
	}
}

.btn-text {
	&:link,
	&:visited {
		text-decoration: none;
		margin-top: 2rem;
		border-bottom: 2px solid v.$color-primary-light;
		letter-spacing: 0.2rem;
		display: inline-block;
		color: v.$color-primary-dark;
		padding-bottom: 0.5rem;
		font-size: v.$font-size-default;
	}
	&:hover {
		color: v.$color-white;
		background-color: v.$color-primary;
		@include m.btn-text-action-up;
	}
	&:active {
		@include m.btn-text-action-down;
	}
}

.btn-blue {
	&:link,
	&:visited {
		text-decoration: none;
		border: 2px solid v.$color-primary-light;
		letter-spacing: 0.3rem;
		display: block;
		padding: 1rem 1rem;
		color: v.$color-primary-light;
		font-size: v.$font-size-default;
		font-weight: bold;
	}
	&:hover {
		color: v.$color-white;
		background-color: v.$color-primary;
		@include m.btn-text-action-up;
	}
	&:active {
		@include m.btn-text-action-down;
	}
}
