@use "../abstracts/variables" as v;

.cards__card {
	background-color: rgba(v.$color-white, 0.8);
	text-align: center;
	padding: 2rem;
	flex-basis: 48%;
	margin-bottom: 2rem;
	border-radius: 2rem 2rem 0 0;

	&:hover {
		transform: scale(1.05) translatex(2rem);
	}
	@media screen and (max-width: 576px) {
		flex-basis: 95%;
		padding: 0.5rem;
	}
	@media screen and (min-width: 1400px) {
		flex-basis: 24%;
		zoom: 100%;
	}
}
