@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.form-group {
	display: flex;
	// flex-direction: row;

	& h2 {
		font-weight: bold;
		margin: 0 auto;
		font-size: 3rem;
	}

	& p {
		font-size: 1.5rem;
		font-weight: 100;
		line-height: 2rem;
		letter-spacing: 1px;
		margin: 2rem 0 3rem;
	}

	& span {
		font-size: v.$font-size-default;
		margin-bottom: 1rem;
	}

	& a {
		color: v.$color-primary-light;
		font-weight: bold;
		font-size: 1.5rem;
		text-decoration: none;
		margin: 1.5rem 0;
	}
	& form {
		// background-color: #ffffff;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		padding: 0 5rem;
		height: 100%;
		text-align: center;
	}

	& input {
		background-color: #eee;
		border: none;
		padding: 12px 15px;
		margin: 8px 0;
		width: 100%;
	}
	&__container {
		@media screen and (min-width: 700px) {
			@include m.flex-center;
		}

		align-items: flex-start;
		background-color: #fff;
		border-radius: 10px;
		box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
		// position: relative;
		overflow: hidden;
		// min-width: 50rem;
		max-width: 100%;
		// min-height: 54rem;
	}
}

.social-container a {
	@include m.social;
}

.first {
	background-color: v.$color-primary-light;
	color: v.$color-white;
	& .social-container a {
		background-color: v.$color-white;
		color: v.$color-primary-light;
	}
}
input[type="submit"] {
	border-radius: 5rem;
	background-color: v.$color-white;
	color: v.$color-primary-light;
	padding: 1.5rem 2rem;
	font-size: 2rem;
	font-weight: 300;
	width: auto;
	border: 2px solid v.$color-primary-light;
}
