@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;

.group__photo {
	max-width: 95%;
	border-radius: 2rem;
	margin-bottom: 2rem;
	@include m.box-shadow-default;
	&:last-of-type {
		margin-right: 0rem;
	}
	&:hover {
		transform: scale(1.2);
		border-radius: 0;
	}
	@media screen and(min-width:1200px) {
		max-width: 100%;
	}
}
