@use "../abstracts/mixins" as m;
.group {
	&__photo {
		width: 48%;
		@include m.box-shadow-default;
		border-radius: 5rem;
		margin-bottom: 5rem;
		&:nth-of-type(2n + 1) {
			margin-right: 2rem;
		}

		&:hover {
			transform: scale(1.2);
			border-radius: 0;
		}
	}
}
