@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.review {
	max-width: 75%;
	margin: 0 auto;

	border-radius: 30px;
	display: flex;
	justify-content: space-between;
	background-color: rgba(v.$color-white, 0.6);
	@include m.box-shadow-default;
	padding: 1rem;
	font-size: v.$font-size-default;
	margin-bottom: 2rem;

	&__img {
		display: flex;
		align-items: center;
		position: relative;
		.star-yellow {
			font-size: clamp(0.5rem, -1rem + 4.1667vw, 2.5rem);
			color: yellow;
		}
		.stars {
			position: absolute;
			top: 40%;
			left: 15%;
			visibility: visible;
		}
		img {
			filter: blur(1px);
		}
		@media screen and (min-width: 992px) {
			.stars {
				position: absolute;
				top: 40%;
				left: 15%;
				visibility: hidden;
			}

			&:hover {
				img {
					filter: blur(3px);
				}
				.stars {
					visibility: visible;
					filter: none;
				}
			}
		}

		img {
			min-width: clamp(5rem, -2.5rem + 20.8333vw, 15rem);
			max-height: clamp(5rem, -2.5rem + 20.8333vw, 15rem);
			background-size: cover;
			border-radius: 50%;
		}
	}
	&__text {
		margin-left: 2rem;
		width: 100%;
		text-align: justify;
	}
}
.video-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	vertical-align: middle;
	position: absolute;
	z-index: -1;
	opacity: 0.5;
	overflow: hidden;
	video {
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
}
