@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.review {
	width: 40%;
	// clip-path: polygon(5% 0, 100% 0%, 95% 100%, 0% 100%);
	display: flex;
	justify-content: space-around;

	background-color: rgba(v.$color-white, 0.6);
	@include m.box-shadow-default;
	padding: 1rem;
	font-size: v.$font-size-default;
	margin-bottom: 1rem;

	& figure {
		width: 15%;
		& img {
			display: inline-block;
			justify-self: center;
			width: 100%;
			background-size: cover;
			border-radius: 2rem;
		}
	}
	&__text {
		width: 80%;
		text-align: justify;
	}
}
video {
	width: 100%;
	background-size: cover;
	vertical-align: middle;
}
