@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.review {
	width: 48%;
	clip-path: polygon(5% 0, 100% 0%, 95% 100%, 0% 100%);
	display: flex;
	justify-content: center;
	margin: 0 auto;
	background-color: rgba(v.$color-white, 0.6);
	@include m.box-shadow-default;
	padding: 2rem;
	font-size: v.$font-size-default;
	margin-bottom: 1rem;

	& figure {
		width: 50%;
		& img {
			width: 50%;
			border-radius: 2rem;
			margin-left: 2rem;
		}
	}
	&__text {
		margin-left: -10rem;
		margin-right: 2rem;
		width: 100%;
		text-align: justify;
	}
}
video {
	width: 100%;
	background-size: cover;
}
