@use "../abstracts/mixins" as m;

.u-margin-bottom-big {
	margin-bottom: 8rem;
}
.u-margin-bottom-medium {
	margin-bottom: 5rem;
}
.u-margin-bottom-small {
	margin-bottom: 2rem;
}
.u-margin-top-big {
	margin-top: 8rem;
}
.u-margin-top-medium {
	margin-top: 5rem;
}
.u-margin-top-small {
	margin-top: 2rem;
}

.u-margin-side-default {
	width: 80%;
	margin: 0 auto;
}
.u-text-uppercase {
	text-transform: uppercase;
}
.u-text-center {
	@include m.flex-center;
}
