@use "../abstracts/mixins" as m;
.u-text-center {
	@include m.flex-center;
}
.u-margin-bottom-big {
	margin-bottom: 8rem;
}
.u-margin-bottom-medium {
	margin-bottom: 5rem;
}
.u-margin-bottom-small {
	margin-bottom: 2rem;
}
